.heading {
    font-size: 23px;
    margin: 0px;
    width: 100%;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.speed {
    float: left;
}

.diskspeed {
    width: 200px;
    border-radius: 100px;
}

#h3speed {
    font-size: 23px;
    margin: 15px;
}

.koko {
    width: 70px;
}



.div {
    float: right;
}

.img {
    width: 200px;
    border-radius: 100px;
}

#h3volume {
    font-size: 23px;
    margin: 15px;
}

canvas {
    border-width: 3.5564px;
    border-radius: 100px;
    border-color: greenyellow;
    border-style: dotted;
    
}